// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap/scss/bootstrap";
// Fontawesome
@import "~@fortawesome/fontawesome-free/css/all.css";

/*
*
* ==========================================
* The Reals Style
* ==========================================
*
*/

@import "the-reals-scss/all";

html {
    position: relative;
    min-height: 100%;
}
#app {
    margin-bottom: 90px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
}
