

.barra{
    position:relative;
    display:block;
    width:100%;
}

.barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    /*Meter color*/
    /*background linear gradient??*/
    background: linear-gradient(90deg, rgba(224,176,255,1) 0%, rgba(230,193,254,1) 40%, rgba(25,8,140,1) 100%);

    transition: 0.5s ease width;
    left :0;
}

input:focus~.barra::before{
    width:100%;
}

.sombra{
   box-shadow:6px 6px 5px rgba(0, 0, 0, 0.199), -6px -6px 5px rgba(0, 0, 0, 0.199),
    6px -6px 5px rgba(0, 0, 0, 0.199), -6px 6px 5px rgba(0, 0, 0, 0.199)  ;
    background-color:#f8f9fa;
    
    
}

div input{
    background-color: transparent;
    border: none;
    display:block;
    border-bottom: 1px solid rgb(94, 92, 92);
    position: relative;
    width: 100%;

    /* rgb(94, 92, 92);*/
  /*Probando*/
   transition: 1s ease all;  
  

}


 div input:placeholder-shown~label{
    transition: 0.5s ease-in all; 
    color:black;  
    position: absolute;
    top: 0px;
    left: 1px;
    font-size: 16px;;
}

 div textarea{
    border: none;
    display:block;
    border:1px solid rgb(94, 92, 92);
    border-bottom: 3px solid rgb(94, 92, 92);
    resize: none;
    background-color: transparent;
} 

div input:focus~label , div label{
   /*Rellenar*/
    font-size: 12px;;
    transition: 0.5s ease-in all; 
    top:-18px;
    left: 1px;
    color:#5d5e5e;
    position: absolute;
}


div input:focus, div textarea:focus{
    outline:none;
    color:#5d5e5e;
}

.containerRelative{
    position: relative;
}


@media screen and (max-width:600px){
    .ajustar{
        width:80%;
    }
}
