.titulo::before {
    max-width: 100%;
    content: "";
    height: 1px;
    bottom: 8px;
    position: absolute;
    /*Meter color*/
    /*background linear gradient??*/
    background: linear-gradient(
        90deg,
        rgba(224, 176, 255, 1) 0%,
        rgba(25, 8, 140, 1) 100%
    );

    box-shadow: 2px 2px 4px black;
    animation-name: ensanchar1;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.11, 0.35, 0.7, 0.99);
    width: 100%;
    left: 0;
}@keyframes ensanchar1 {
    0% {
        width: 0%;
    }

    100% {
        width:100%;
    }
}
.titulo {
    position: relative;
    display: block;
    width: 100%;
}