/*
▄████      █    ██      ▄▄▄▄▄   █ ▄▄  █▄▄▄▄ ▄█ █    █    ██
█▀   ▀     █    █ █    █     ▀▄ █   █ █  ▄▀ ██ █    █    █ █
█▀▀        █    █▄▄█ ▄  ▀▀▀▀▄   █▀▀▀  █▀▀▌  ██ █    █    █▄▄█
█          ███▄ █  █  ▀▄▄▄▄▀    █     █  █  ▐█ ███▄ ███▄ █  █
 █             ▀   █             █      █    ▐     ▀    ▀   █
  ▀               █               ▀    ▀                   █
                 ▀                                        ▀
*/
@import "f.variables.scss";
@import "f.bg-gradient.scss";

/*
▄███▄   █     ▄███▄   █▀▄▀█ ▄███▄      ▄     ▄▄▄▄▀ ████▄    ▄▄▄▄▄
█▀   ▀  █     █▀   ▀  █ █ █ █▀   ▀      █ ▀▀▀ █    █   █   █     ▀▄
██▄▄    █     ██▄▄    █ ▄ █ ██▄▄    ██   █    █    █   █ ▄  ▀▀▀▀▄
█▄   ▄▀ ███▄  █▄   ▄▀ █   █ █▄   ▄▀ █ █  █   █     ▀████  ▀▄▄▄▄▀
▀███▀       ▀ ▀███▀      █  ▀███▀   █  █ █  ▀
                        ▀           █   ██

*/

@import "f.a.scss";
@import "f.text.scss";
@import "f.paddings.scss";
@import "f.navbar.scss";

/*
▄███▄     ▄▄▄▄▄      ▄▄▄▄▀ ▄█ █    ████▄    ▄▄▄▄▄
█▀   ▀   █     ▀▄ ▀▀▀ █    ██ █    █   █   █     ▀▄
██▄▄   ▄  ▀▀▀▀▄       █    ██ █    █   █ ▄  ▀▀▀▀▄
█▄   ▄▀ ▀▄▄▄▄▀       █     ▐█ ███▄ ▀████  ▀▄▄▄▄▀
▀███▀               ▀       ▐     ▀


*/
@import "f.icons.scss";
@import "f.card.scss";
@import "f.parallax.scss";
@import "f.scroll.scss";
