.social-link {
    color: #fff;
    background: #ff3f3f;
    display: block;
    transition: all 0.3s;
}

.social-link:hover,
.social-link:focus {
    color: white;
    text-decoration: none;
}

.social-link .icon {
    width: 4rem;
    text-align: center;
    margin-right: 1.5rem;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
}

.social-facebook {
    background: #3b5998;
}

.social-facebook:hover,
.social-facebook:focus {
    background: #2d4373;
}

.social-twitter {
    background: #00aced;
}

.social-twitter:hover,
.social-twitter:focus {
    background: #0087ba;
}

.social-google-plus {
    background: #dd4b39;
}

.social-google-plus:hover,
.social-google-plus:focus {
    background: #c23321;
}

.social-behance {
    background: #00aff0;
}

.social-behance:hover,
.social-behance:focus {
    background: #008abd;
}

.social-soundcloud {
    background: #ff8800;
}

.social-soundcloud:hover,
.social-soundcloud:focus {
    background: #cc6d00;
}

.social-github {
    background: #666666;
}

.social-github:hover,
.social-github:focus {
    background: #4d4d4d;
}

.social-linkedin {
    background: #0077b5;
}

.social-linkedin:hover,
.social-linkedin:focus {
    background: #005582;
}

.social-tumblr {
    background: #34465d;
}

.social-tumblr:hover,
.social-tumblr:focus {
    background: #222d3c;
}

.social-pinterest {
    background: #bd081c;
}

.social-pinterest:hover,
.social-pinterest:focus {
    background: #8c0615;
}

.social-vimeo {
    background: #1ab7ea;
}

.social-vimeo:hover,
.social-vimeo:focus {
    background: #1295bf;
}

.social-vk {
    background: #4c75a3;
}

.social-vk:hover,
.social-vk:focus {
    background: #3c5c80;
}

.social-dribbble {
    background: #ea4c89;
}

.social-dribbble:hover,
.social-dribbble:focus {
    background: #e51e6b;
}

.social-youtube {
    background: #cd201f;
}

.social-youtube:hover,
.social-youtube:focus {
    background: #a11918;
}

.social-medium {
    background: #02b875;
}

.social-medium:hover,
.social-medium:focus {
    background: #018655;
}

.social-instagram {
    background: #e4405f;
}

.social-instagram:hover,
.social-instagram:focus {
    background: #d31e40;
}

.social-skype {
    background: #00aff0;
}

.social-skype:hover,
.social-skype:focus {
    background: #008abd;
}

.social-vine {
    background: #00b489;
}

.social-vine:hover,
.social-vine:focus {
    background: #008162;
}

.social-flickr {
    background: #ff0084;
}

.social-flickr:hover,
.social-flickr:focus {
    background: #cc006a;
}

.social-flickr {
    background: #f94877;
}

.social-flickr:hover,
.social-flickr:focus {
    background: #f71752;
}

.social-instagram {
    background: #e4405f;
}

.social-instagram:hover,
.social-instagram:focus {
    background: #d31e40;
}
