/*
   ▄▄▄▄▀ ▄  █ ▄███▄       █▄▄▄▄ ▄███▄   ██   █      ▄▄▄▄▄
▀▀▀ █   █   █ █▀   ▀      █  ▄▀ █▀   ▀  █ █  █     █     ▀▄
    █   ██▀▀█ ██▄▄        █▀▀▌  ██▄▄    █▄▄█ █   ▄  ▀▀▀▀▄
   █    █   █ █▄   ▄▀     █  █  █▄   ▄▀ █  █ ███▄ ▀▄▄▄▄▀
  ▀        █  ▀███▀         █   ▀███▀      █     ▀
          ▀                ▀              █
                                         ▀
*/

@import "variables.scss";
@import "backgrounds.scss";

/*
▄███▄   █     ▄███▄   █▀▄▀█ ▄███▄      ▄     ▄▄▄▄▀ ████▄    ▄▄▄▄▄
█▀   ▀  █     █▀   ▀  █ █ █ █▀   ▀      █ ▀▀▀ █    █   █   █     ▀▄
██▄▄    █     ██▄▄    █ ▄ █ ██▄▄    ██   █    █    █   █ ▄  ▀▀▀▀▄
█▄   ▄▀ ███▄  █▄   ▄▀ █   █ █▄   ▄▀ █ █  █   █     ▀████  ▀▄▄▄▄▀
▀███▀       ▀ ▀███▀      █  ▀███▀   █  █ █  ▀
                        ▀           █   ██

*/

@import "a.scss";
@import "text.scss";
@import "paddings.scss";
@import "navbar.scss";

/*
▄███▄     ▄▄▄▄▄      ▄▄▄▄▀ ▄█ █    ████▄    ▄▄▄▄▄
█▀   ▀   █     ▀▄ ▀▀▀ █    ██ █    █   █   █     ▀▄
██▄▄   ▄  ▀▀▀▀▄       █    ██ █    █   █ ▄  ▀▀▀▀▄
█▄   ▄▀ ▀▄▄▄▄▀       █     ▐█ ███▄ ▀████  ▀▄▄▄▄▀
▀███▀               ▀       ▐     ▀


*/
@import "icons.scss";
@import "cards.scss";
@import "parallax.scss";
@import "scroll.scss";
