@import "variables.scss";
a.social-link {
    overflow: hidden;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    i {
        transition: transform 1s ease-in-out;
    }
    &:hover,
    &:focus {
        i {
            transform: rotateY(3.142rad * 2) scale(2);
        }
        color: #ebcdff !important;
        background-color: black !important;
    }

    &.social-maps {
        color: #f8f9fa !important;
        background-color: #dc3545 !important;
    }
    &.social-email {
        color: #f8f9fa !important;
        background-color: #17a2b8 !important;
    }
    &.social-phone {
        color: #f8f9fa !important;
        background-color: #009688 !important;
    }
    &.social-whatsapp {
        color: #f8f9fa !important;
        background-color: #25d366 !important;
    }
    &.social-facebook {
        color: #f8f9fa !important;
        background-color: #3b5998 !important;
    }
    &.social-twitter {
        color: #00aced !important;
        background-color: transparent !important;
    }
    &.social-youtube {
        color: #cd201f !important;
        background-color: transparent !important;
    }
}

.the-box-oscuro {
    position: relative;

    .effect-box {
        position: absolute;
        width: 100%;
        height: 0%;
        left: 0px;
        bottom: 0px;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
        background-color: black;
        z-index: 2;
        opacity: 0.8;
    }

    .card-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        text-align: center;
        color: white;
        z-index: 3;
        position: absolute;
        margin: auto;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        transition-delay: 0s;
        transform: scale(0);
        * {
            padding: 0px;
            margin: 0px;
        }
    }

    &:hover,
    &:focus {
        .card-box {
            opacity: 1;
            transition-delay: 0.5s;
            transform: scale(1);
        }
        .effect-box {
            height: 100%;
            transition-delay: 0.3s;
        }
    }
}

.the-box-claro {
    position: relative;

    .effect-box {
        position: absolute;
        width: 100%;
        height: 0%;
        left: 0px;
        bottom: 0px;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
        background-color: white;
        z-index: 2;
        opacity: 0.8;
    }

    .card-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        text-align: center;
        color: black;
        z-index: 3;
        position: absolute;
        margin: auto;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        transition-delay: 0s;
        transform: scale(0);
        * {
            padding: 0px;
            margin: 0px;
        }
    }

    &:hover,
    &:focus {
        .card-box {
            opacity: 1;
            transition-delay: 0.5s;
            transform: scale(1);
        }
        .effect-box {
            height: 100%;
            transition-delay: 0.3s;
        }
    }
}
