@font-face {
    font-family: "sketch_blockbold";
    src: url("../sketch_block-webfont.woff2") format("woff2"),
        url("../sketch_block-webfont.woff") format("woff");
}

#navbar {
    transition: padding 1s ease;
}

#logo {
    transition: height 1s ease;
}
#logo-texto {
    transition: font-size 1s ease;
    font-family: "sketch_blockbold";
}

@media (max-width: 575px) {
    #logo {
        &.logo-pequeño,
        &.logo-grande {
            height: 35px;
        }
    }

    footer {
        margin-bottom: 50px;
    }

    .navbar-responsive {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}

@media (min-width: 576px) {
    #logo {
        &.logo-pequeño {
            height: 35px;
        }

        &.logo-grande {
            height: 75px;
        }
    }

    .logo-texto-grande {
        font-size: 2.5rem !important;
    }
    .logo-texto-pequeño {
        font-size: 1.25rem !important;
    }

    .body-responsive {
        main > :first-child {
            padding-top: 120px !important;
        }
    }

    .navbar-responsive {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}
