@media (max-width: 575px) {
    footer {
        margin-bottom: 50px;
    }
    .navbar-responsive {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}

@media (min-width: 576px) {
    .body-responsive {
        padding-top: 55px;
    }
    .navbar-responsive {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}
