.p-6 {
    padding: 5rem;
}
.py-6 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.px-6 {
    padding-right: 5rem;
    padding-left: 5rem;
}

.p-7 {
    padding: 7rem;
}
.py-7 {
    padding-top: 7rem;
    padding-bottom: 7rem;
}
.px-7 {
    padding-right: 7rem;
    padding-left: 7rem;
}
